.git
.env
node_modules
vendor
public/build
storage/*.sqlite
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
.phpunit.result.cache
.vscode
# Docker and Render config files (Remove from here to allow them in context)
